.main {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 30px;
  &__body {
    width: 100%;
  }
}

.body {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 220px;
    padding-bottom: 20px;
  }
}
