.import-export {
  display: flex;
  justify-content: end;

  .btn {
    background-color: initial;
    padding: 6px 30px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 4px 2px 2px black;
    margin-left: 10px;
    border-radius: 0;
  }
}
