.main {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  &__body {
    width: 930px;
  }
  &__aside {
    padding-top: 6px;
  }
}

.body {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }
}
