.main {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  &__body {
    width: 930px;
  }
}

.body {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }
}
