@import "variables";
@import "mixins";

///Revolutionary editor
.review {
  @include lato-font;
  text-align: center;
  padding-bottom: 70px;
  &__title {
    padding: 50px 0 25px;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: $reviewFont;
    text-transform: uppercase;
  }
  &__text {
    color: $mainColor;
  }
  &__box {
    margin: 0 auto;
    padding: 36px 0 0;
    max-width: 265px;
    @include flex;
  }
}

///Advantages
//<Here is what you get>
.advantages {
  @include montserrat-font;
  position: relative;
  padding: 94px 0 33px;
  text-align: center;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #8d81ac;
  }
  &-item {
    padding: 30px 0;
    &__content {
      h6 {
        font-size: 16px;
        padding-bottom: 14px;
        color: $mainColor;
      }
      p {
        color: #848e97;
      }
    }
    &__img {
      padding-bottom: 26px;
    }
  }
  &__img {
    margin-left: -10px;
    margin-right: -10px;
    background-image: url(../img/mainBoxImages/WhatYouGet/editor.png);
    background-position: left;
    height: 380px;
    @include img-position;
  }
}
