@import "variables";
@import "mixins";

.price {
  @include montserrat-font;
  background-image: url(../img/mainBoxImages/Subscription.png);
  @include img-position;
  padding: 30px 0 10px;
  text-align: center;
  color: $priceFont;
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    padding-bottom: 40px;
  }
  &__box {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    justify-items: center;
    grid-gap: 20px;
  }
  &-item {
    height: 460px;
    width: 260px;
    position: relative;
    background-color: rgba(119, 92, 100, 0.3);
    &__title {
      padding: 36px 24px;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      background-color: rgba(104, 91, 106, 0.7);
    }
    &__price {
      font-size: 60px;
      line-height: 90px;
      text-transform: uppercase;
      padding: 30px 0 20px;
    }
    &__period {
      line-height: 16px;
      text-transform: uppercase;
      padding-bottom: 73px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 5px solid #8d81ac;
        width: 60px;
        bottom: 30px;
        right: calc(50% - 30px);
      }
    }
    &__advantages {
      font-size: 16px;
      line-height: 18px;
    }
    &__btn {
      position: absolute;
      bottom: 36px;
      width: 100%;
    }
    &--big {
      width: 300px;
      height: 560px;
      background-color: #473249;
      h6 {
        background-color: #3f2d41;
      }
      .peroid--big {
        padding-bottom: 91px;
        &::after {
          bottom: 40px;
        }
      }
    }
  }
}
