@media screen and (min-width: 993px) {
  @import "mixins";
  @import "variables";
  //--------------------HEADER--------------------//

  .header {
    &__bar {
      background: transparent;
      padding: 30px 16px;
    }

    &__logo:hover {
      cursor: pointer;

      & .header__logo-bg {
        background: url("../img/logos/header-logo-sprites.png") -10px -10px;
        transform: rotate(-360deg);
        transition: 0.5s;
      }

      & .header__logo-text {
        color: white;
        text-decoration: none;
        transition: all 0.5s;
      }
    }

    .basic-btn {
      font-size: 16px;
      line-height: 16px;

      &:hover {
        background-color: white;
        color: #8d81ac;
        border: 2px solid #8d81ac;
        transition: all 0.5s;
      }
    }
  }

  //--------------------NAVBAR--------------------//

  .nav {
    position: inherit;
    width: auto;
    padding: 12px 0;
    margin: 0 43px 0 auto !important;

    &__item {
      margin: 0 23px;
    }

    &__link {
      &:hover {
        transition: all 0.5s;
      }
    }
  }
  //--------------------Main--------------------//
  //---------------Revolutionary editor-----------//
  .review {
    &__title {
      font-size: 54px;
      line-height: 54px;
    }
    &__text {
      max-width: 860px;
      margin: 0 auto;
    }
  }

  .advantages {
    background: $advantagesBackground;
    &__box {
      margin: 0 auto;
      max-width: 1260px;
      display: grid;
      grid-column-gap: 50px;
      grid-template-columns: 560px 1fr;
      grid-template-rows: 60px 1fr;
      grid-template-areas:
        "content title"
        "content img";
    }
    &__title {
      @include pc-font-title;
      text-align: left;
      grid-area: title;
    }
    &-content {
      grid-area: content;
    }
    &-item {
      padding: 25px 0;
      &:first-of-type {
        padding-top: 0;
      }
    }
    &__img {
      grid-area: img;
      margin-left: 0;
      background-size: 700px 520px;
      background-position: left;
    }
  }
  //------------------talking about fork----------//
  .talking-about-fork__title {
    padding: 108px 0 82px;
    @include pc-font-title;
  }
  .talking-about-fork__review {
    max-width: 1200px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(3, minmax(331px, 400px));
    grid-template-rows: repeat(2, 1fr);
  }

  //---------Fork Subscription Pricing-------------//
  .price {
    &__title {
      @include pc-font-title;
    }
    &-box {
      max-width: 1150px;
      grid-template-rows: 1fr;
      align-items: center;
    }
  }
}
