@media screen and (min-width: 481px) {
  @import "variables";
  @import "mixins";

  //--------------------HEADER--------------------//

  .header {
    &__bar {
      padding: 24px 20px 42px;

      &__btn-bars {
        display: none;
      }
    }

    &__logo-text {
      display: inline-block;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__subtitle {
      font-family: $fontLato;
      font-size: 24px;
      line-height: 24px;
    }

    &__download {
      top: 75px;

      & > p {
        margin-top: 28px;
      }
    }
  }

  .basic-btn{
    width: 145px;
  }

  .download-btn {
    height: 62px;
    width: 390px;
    font-size: 21px;
  }

  //--------------------NAVBAR--------------------//

  .nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    top: 75px;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      background-color: transparent;
    }

    &__item {
      border: none;
      padding: 0;
      margin: 0 2vw;
    }

    &__link {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #8d81ac;
      text-align: center;
      border: none;

      &::before {
        display: none;
      }

      &:focus {
        color: white;
        outline: none;
      }
    }
  }

  .menu-btn {
    display: none;
  }

  //--------------------Main--------------------//
  //---------------Revolutionary editor-----------//

  .review {
    &__title {
      @include medium-font-title;
    }
    &__text {
      font-size: 21px;
      line-height: 32px;
    }
    &__box {
      max-width: 400px;
    }
  }
  .advantages {
    &__title {
      @include medium-font-title;
    }
    &-item {
      display: grid;
      grid-template-columns: 140px 1fr;
      &__content {
        text-align: left;
        padding-left: 25px;
      }
    }

    &__img {
      margin-left: 0;
      min-height: 520px;
      background-size: contain;
      background-position: right;
    }
  }
  //----------People Are Talking About Fork------//
  .talking-about-fork__title {
    @include medium-font-title;
    padding: 87px 0;
  }
  .talking-about-fork__paragraph-between-boxes:after {
    max-width: 60%;
  }

  //---------Fork Subscription Pricing-------------//
  .price {
    padding: 94px 10px;
    padding-bottom: 94px;
    &__title {
      @include medium-font-title;
    }
    &__box {
      grid-template-columns: repeat(auto-fit, minmax(260px, auto));
      grid-template-rows: 460px 1fr;
      justify-items: end;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;

      &__title {
        padding-bottom: 94px;
      }
    }
  }
}
