@mixin lato-font {
  font-family: $fontLato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
@mixin montserrat-font {
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
@mixin review-border {
  border: 1px solid #d5d5d5;
}
@mixin medium-font-title {
  font-size: 42px;
  line-height: 44px;
  font-weight: bold;
}
@mixin pc-font-title {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
}
@mixin img-position {
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin contentPading {
  padding-left: 10px;
  padding-right: 10px;
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin pricing-box-pseudo-element {
  display: inline-block;
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  //border: 2px #8D81AC solid;
  border: 2px rgba(125, 110, 140, 0.9) solid;
  width: 60px;
  height: 2px;
}
