@import "variables";
@import "mixins";

.talking-about-fork {
  background: url("../img/mainBoxImages/PeopleTalkingAboutBackImage.png") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  margin-bottom: -12px;

  &__title {
    padding-top: 60px;
    padding-bottom: 53px;
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }

  &__review {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-row-gap: 45px;
    justify-content: center;
    grid-template-rows: repeat(6, 1fr);
  }

  &__box-review {
    display: flex;
    width: 97%;
    box-sizing: border-box;
    flex-direction: column;
  }

  &__logo-box-review {
    height: 65px;

    & img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__description-box-review {
    padding: 0 15px;
    width: 100%;
    font-family: lato, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-top: 25px;
    box-sizing: border-box;
    margin-bottom: 0;
    vertical-align: bottom;
  }

  &__paragraph-between-boxes {
    font-family: $fontLato;
    margin: 118px auto 0;
    padding: 0 10px;
    max-width: 80%;
    text-align: center;
    font-size: 14px;
    color: #A291A5;
    line-height: 21px;

    &:after {
      content: '';
      position: absolute;
      margin: 32px auto;
      left: 0;
      right: 0;
      border-bottom: 2px solid #A291A5;
      max-width: 80%;
    }
  }
}
