$fontMontserrat: Montserrat, sans-serif;
$fontLato: Lato, sans-serif;
$container-max-widths: 1200px;

$fontLato: "Lato", sans-serif;
$mainColor: "#323232;";
$priceFont: #ffffff;
$reviewFont: #635c73;

$advantagesBackground: #f4f4f4;
