@import "burger-menu";

.nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 107px;
  right: 0;
  left: 0;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0 15px;
  }

  &__item {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    padding: 29px 0 21px 35px;
  }

  &__link {
    text-align: left;
    text-decoration: none;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    border-bottom: 3px solid #383d41;
    outline: none;
    width: 100%;
    height: 100%;

    &:before {
      display: block;
      position: absolute;
      content: '';
      border: transparent;
      height: 53px;
      width: 8px;
      left: 102px;
      top: 10px;
      background: transparent;
    }

      &:hover {
        text-decoration: none;
        color: #FFFFFF;


      }

    &:visited{
      outline: none;
    }

    &:focus {
      color: #8D81AC;
      position: relative;

      &:before {

        border: 1px solid #8D81AC;
        box-sizing: border-box;
        background-color: #8D81AC;
        transition: all .4s ease-in-out;
        transform: translateX(-100px);
      }
    }
  }
}

.hide{
  display: none;
}

