.nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 107px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 15px;
}
.nav__item {
  display: inline-block;
  text-align: left;
  border-bottom: 3px solid #383d41;
  padding: 29px 0 21px 35px;
}
.nav__link {
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.nav__link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link:focus {
  color: #8D81AC;
  position: relative;
}
.nav__link:focus::before {
  display: block;
  position: absolute;
  content: "";
  border-top: 53px solid #8D81AC;
  width: 8px;
  left: -35px;
  top: -11px;
}


