@import "reset";
@import "mixins";
html,
body,
.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

@import "variables";

.width-container {
  max-width: $container-max-widths;
  margin: 0 auto;
  @include contentPading;
  box-sizing: border-box;
}

@import "header";

@import "navbar";
@import "buttons";
@import "mixins";
@import "main-review";
@import "talking-about-fork";
@import "main-price";
@import "media-481";
@import "media-993";
