.filter {
  padding-top: 6px;
  display: flex;
  justify-content: start;

  .dropdown {
    .btn {
      padding: 10px 50px;
      background-color: initial;
      color: black;
      text-transform: capitalize;
      border-radius: 0;
      border: 2px solid;
      box-shadow: 4px 2px 2px black;
      margin-right: 20px;
    }
  }
  .dropdown-menu {
    border: 2px solid;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .dropdown-item:hover {
    border: 2px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    width: calc(100% + 4px);
    margin-left: -2px;
    &:first-of-type {
      margin-top: -2px;
    }
    &:last-of-type {
      margin-bottom: -2px;
    }
  }
}
