.active {
  background-color: initial;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 10px 30px;
  justify-content: center;
  border-radius: 5px;
}

.btn {
  text-align: center;
  justify-content: center;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: larger;
  background-color: grey;
}
