.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  min-height: 226px;
}
.visit-card-element {
  position: relative;
  flex: 0 1 22%;
  min-width: 250px;
  min-height: 290px;
  margin: 10px 10px;
  border: 3px solid rgb(49, 49, 49);
  color: rgb(49, 49, 49);
  box-shadow: 10px 5px 5px rgb(49, 49, 49);
  border-radius: 50px 0px 50px 0px / 25px 0px 25px 0px;
  div {
    padding: 5px 0;
  }
  &__btn {
    &--close {
      text-align: end;
      cursor: pointer;
    }
    &--change {
      width: 70%;

      position: absolute;
      left: 15%;
      bottom: 10px;
    }
  }
  .doctor {
    text-align: center;
    font-weight: bold;
  }
  .id {
    font-style: italic;
    text-align: end;
    font-weight: bold;
  }
}
