.btn {
  &__item {
    margin: 0 auto;
    justify-content: center;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
    background-color: grey;
  }
}
