.table {
  border: 2px solid black;
  text-align: center;
  &__header {
    background-color: rgba(10, 10, 10, 0.4);
  }
}

td,
tr {
  border-left: 2px solid black;
  border-bottom: none;
  border-top: none;
}
