.table {
  width: 100%;
  border: 2px solid black;
  &__header {
    background-color: rgba(10, 10, 10, 0.4);
  }
}
tbody tr:nth-child(odd) {
  background-color: rgba(10, 10, 10, 0.1);
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 3px;
  border-right: 2px solid black;
}
